flavio>=2.3.1
wilson>=1.7
smelli>=2.3.1
-e git+https://github.com/Jorge-Alda/parscanning.git@v0.2#egg=parscanning
numpy
scipy
matplotlib
iminuit
pandas
-e git+https://github.com/Jorge-Alda/texfig.git#egg=texfig
scipy
PyYAML
scikit-learn
xgboost
shap
