flavio>=1.5.0
wilson>=1.7
smelli>=1.3.0
-e git+https://github.com/Jorge-Alda/parscanning.git@v0.2#egg=parscanning
numpy
matplotlib
-e git+https://github.com/nilsleiffischer/texfig.git#egg=texfig
scipy
PyYAML
